<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newsletter</title>
    <style>
        .email-form {text-align: center;}
    </style>

</head>
<body>
    <div class="email-form">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="email" placeholder="enter your email"> <br><br>
            <input type="submit" name="subscribe">
            <input type="submit" name="unsubscribe">
        </form>
    </div>
</body>
</html>